/* General settings */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Header settings */
  header {
    background-color: #FADBD8;
    color: #333;
    padding: 10px 0;
    text-align: center;
  }
  
  nav {
    text-align: center;
    padding: 5px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
  }
  
  nav a:hover {
    color: #c1c1c1;
  }
  
  /* Main section settings */
  section {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  article {
    width: 30%;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  article img {
    width: 100%;
    height: auto;
  }
  
  /* Footer settings */
  footer {
    background-color: #FADBD8;
    color: #333;
    text-align: center;
    padding: 10px 0;
  }

  #logo {
    height: 75px; /* Or your preferred height */
    width: auto;
    padding-top: 10px;
    margin-bottom: 0px;
    border-radius: 50%
    /* Add your additional styles here */
  }